<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /login/
    
    # Se não for arquivo ou diretório, redireciona para index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /login/index.html [L]
</IfModule>

# Segurança adicional
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
